@import '../../../../common/scss/variables.scss';

.meal-list__item {
  display: flex;
  align-items: center;
  padding: 6px 0 0 16px;
  margin-bottom: 6px;
  font-weight: 500;
}

.meal {
  &__avatar {
    width: 72px;
    height: 72px;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    line-height: 20px;
    color: $main-text-color;

    &:hover {
      color: #b189b6;
    }
  }
}
